
<div class="container">
  <div class="title">
    <h1>Informações do Projeto</h1>
  </div>

  <div>
    <div class="form-title">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

          <div class="col">
            <div class="form-group">
              <label for="nomeCliente">Nome do Cliente:</label>
              <input type="text" id="nomeCliente" [(ngModel)]="form.nomeCliente" class="form-control">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="vendedor">Vendedor:</label>
              <input type="text" id="vendedor" [(ngModel)]="form.vendedor" class="form-control">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="numeroPedido">Número do Pedido:</label>
              <input type="text" id="numeroPedido" [(ngModel)]="form.numeroPedido" class="form-control">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="nomeAmbiente">Nome do Ambiente:</label>
              <input type="text" id="nomeAmbiente" [(ngModel)]="form.nomeAmbiente" class="form-control">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Seção: Cores do MDF -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
        <div class="form-group"  [class.hide-on-print]="isFieldEmpty(form.coresProjeto.cor1)">
          <label for="corMDF1">Cor MDF 1:</label>
          <select id="corMDF1" [(ngModel)]="form.coresProjeto.cor1" class="form-control">
            <option *ngFor="let cor of listasOpcoes.coresMDF; trackBy: trackByFn" [value]="cor">{{ cor }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.coresProjeto.cor2)">
          <label for="corMDF2">Cor MDF 2:</label>
          <select id="corMDF2" [(ngModel)]="form.coresProjeto.cor2" class="form-control">
            <option *ngFor="let cor of listasOpcoes.coresMDF; trackBy: trackByFn" [value]="cor">{{ cor }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.coresProjeto.cor3)">
          <label for="corMDF3">Cor MDF 3:</label>
          <select id="corMDF3" [(ngModel)]="form.coresProjeto.cor3" class="form-control">
            <option *ngFor="let cor of listasOpcoes.coresMDF; trackBy: trackByFn" [value]="cor">{{ cor }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Iluminação -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
        <div class="form-group"[class.hide-on-print]="isFieldEmpty(form.iluminacao.modelo)">
          <label for="modeloIluminacao">Modelo Iluminação:</label>
          <select id="modeloIluminacao" [(ngModel)]="form.iluminacao.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosIluminacao; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.iluminacao.temperatura)">
          <label for="temperaturaIluminacao">Temperatura Iluminação:</label>
          <select id="temperaturaIluminacao" [(ngModel)]="form.iluminacao.temperatura" class="form-control">
            <option *ngFor="let item of listasOpcoes.temperaturasIluminacao; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.iluminacao.fornecedor)">
          <label for="fornecedorIluminacao">Quem Fornecerá?:</label>
          <select id="fornecedorIluminacao" [(ngModel)]="form.iluminacao.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.Fornecedor; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!-- Seção: Espelho -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.espelho.espessura)">
          <label for="espessuraEspelho">Espessura do Espelho:</label>
          <select id="espessuraEspelho" [(ngModel)]="form.espelho.espessura" class="form-control">
            <option *ngFor="let item of listasOpcoes.espessurasEspelho; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.espelho.acabamento)">
          <label for="acabamentoEspelho">Acabamento do Espelho:</label>
          <select id="acabamentoEspelho" [(ngModel)]="form.espelho.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosEspelho; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.espelho.fornecedor)">
          <label for="fornecedorEspelho">Fornecedor do Espelho:</label>
          <select id="fornecedorEspelho" [(ngModel)]="form.espelho.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresEspelho; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Vidro -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.vidro.espessura)">
          <label for="espessuraVidro">Espessura do Vidro:</label>
          <select id="espessuraVidro" [(ngModel)]="form.vidro.espessura" class="form-control">
            <option *ngFor="let item of listasOpcoes.espessurasVidro; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.vidro.acabamento)">
          <label for="acabamentoVidro">Acabamento do Vidro:</label>
          <select id="acabamentoVidro" [(ngModel)]="form.vidro.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosVidro; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.vidro.fornecedor)">
          <label for="fornecedorVidro">Fornecedor do Vidro:</label>
          <select id="fornecedorVidro" [(ngModel)]="form.vidro.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresVidro; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Puxador Superior -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorSuperior.modelo)">
          <label for="modeloPuxadorSuperior">Modelo Puxador Superior:</label>
          <select id="modeloPuxadorSuperior" [(ngModel)]="form.puxadorSuperior.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modeloPuxadorSuperior; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorSuperior.acabamento)">
          <label for="acabamentoPuxadorSuperior">Acabamento Puxador Superior:</label>
          <select id="acabamentoPuxadorSuperior" [(ngModel)]="form.puxadorSuperior.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentoPuxador; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorSuperior.quantidade)">
          <label for="quantidadePuxadorSuperior">Quantidade:</label>
          <select name="quantidadePuxadorSuperior" [(ngModel)]="form.puxadorSuperior.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadepuxadorsuperior; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorSuperior.fornecedor)">
          <label for="fornecedorPuxadorSuperior">Quem irá Fornecer:</label>
          <select id="fornecedorPuxadorSuperior" [(ngModel)]="form.puxadorSuperior.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.Fornecedor; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Puxador Inferior -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorInferior.modelo)">
          <label for="modeloPuxadorInferior">Modelo Puxador Inferior:</label>
          <select id="modeloPuxadorInferior" [(ngModel)]="form.puxadorInferior.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modeloPuxadorInferior; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorInferior.acabamento)">
          <label for="acabamentoPuxadorInferior">Acabamento Puxador Inferior:</label>
          <select id="acabamentoPuxadorInferior" [(ngModel)]="form.puxadorInferior.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentoPuxadorInferior; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorInferior.quantidade)">
          <label for="quantidadePuxadorInferior">Quantidade:</label>
          <select name="quantidadePuxadorInferior" [(ngModel)]="form.puxadorInferior.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadePuxadorInferior; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.puxadorInferior.fornecedor)">
          <label for="fornecedorPuxadorInferior">Quem irá Fornecer:</label>
          <select id="fornecedorPuxadorInferior" [(ngModel)]="form.puxadorInferior.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresPuxadorInferior; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Estofaria -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.estofaria.modelo)">
          <label for="modeloEstofaria">Modelo Estofado:</label>
          <select id="modeloEstofaria" [(ngModel)]="form.estofaria.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosEstofaria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.estofaria.acabamento)">
          <label for="acabamentoEstofaria">Acabamento Estofado:</label>
          <select id="acabamentoEstofaria" [(ngModel)]="form.estofaria.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosEstofaria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.estofaria.fornecedor)">
          <label for="fornecedorEstofaria">Quem irá Fornecer:</label>
          <select id="fornecedorEstofaria" [(ngModel)]="form.estofaria.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresEstofaria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.estofaria.instalador)">
          <label for="instaladorEstofaria">Quem irá instalar:</label>
          <select id="instaladorEstofaria" [(ngModel)]="form.estofaria.instalador" class="form-control">
            <option *ngFor="let item of listasOpcoes.instaladoresEstofaria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Serralheria -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.serralheria.modelo)">
          <label for="modeloSerralheria">Modelo Serralheria:</label>
          <select id="modeloSerralheria" [(ngModel)]="form.serralheria.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosSerralheria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.serralheria.acabamento)">
          <label for="acabamentoSerralheria">Acabamento Serralheria:</label>
          <select id="acabamentoSerralheria" [(ngModel)]="form.serralheria.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosSerralheria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.serralheria.fornecedor)">
          <label for="fornecedorSerralheria">Quem irá Fornecer:</label>
          <select id="fornecedorSerralheria" [(ngModel)]="form.serralheria.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresSerralheria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.serralheria.instalador)">
          <label for="instaladorSerralheria">Quem irá instalar:</label>
          <select id="instaladorSerralheria" [(ngModel)]="form.serralheria.instalador" class="form-control">
            <option *ngFor="let item of listasOpcoes.instaladoresSerralheria; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Tomada -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tomada.modelo)">
          <label for="modeloTomada">Modelo Tomada:</label>
          <select id="modeloTomada" [(ngModel)]="form.tomada.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosTomada; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tomada.acabamento)">
          <label for="acabamentoTomada">Acabamento Tomada:</label>
          <select id="acabamentoTomada" [(ngModel)]="form.tomada.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosTomada; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tomada.quantidade)">
          <label for="quantidadeTomada">Quantidade:</label>
          <select name="quantidadeTomada" [(ngModel)]="form.tomada.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeTomada; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tomada.fornecedor)">
          <label for="fornecedorTomada">Quem irá fornecer:</label>
          <select id="fornecedorTomada" [(ngModel)]="form.tomada.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedorTomada; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Interruptor -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.interruptor.modelo)">
          <label for="modeloInterruptor">Modelo Interruptor:</label>
          <select id="modeloInterruptor" [(ngModel)]="form.interruptor.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosInterruptor; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.interruptor.acabamento)">
          <label for="acabamentoInterruptor">Modelo Acabamento:</label>
          <select id="acabamentoInterruptor" [(ngModel)]="form.interruptor.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosInterruptor; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.interruptor.quantidade)">
          <label for="quantidadeInterruptor">Quantidade:</label>
          <select name="quantidadeInterruptor" [(ngModel)]="form.interruptor.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeInterruptor; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.interruptor.fornecedor)">
          <label for="fornecedorInterruptor">Quem irá fornecer:</label>
          <select id="fornecedorInterruptor" [(ngModel)]="form.interruptor.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresInterruptor; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Passa Fio -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.passaFio.modelo)">
          <label for="modeloPassaFio">Modelo Passa Fio:</label>
          <select id="modeloPassaFio" [(ngModel)]="form.passaFio.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosPassaFio; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.passaFio.acabamento)">
          <label for="acabamentoPassaFio">Acabamento Passa Fio:</label>
          <select id="acabamentoPassaFio" [(ngModel)]="form.passaFio.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosPassaFio; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.passaFio.quantidade)">
          <label for="quantidadePassaFio">Quantidade:</label>
          <select name="quantidadePassaFio" [(ngModel)]="form.passaFio.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadePassaFio; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.passaFio.fornecedor)">
          <label for="fornecedorPassaFio">Quem irá fornecer:</label>
          <select id="fornecedorPassaFio" [(ngModel)]="form.passaFio.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresPassaFio; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!-- Seção: Porta Tempero -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaTempero.modelo)">
          <label for="modeloPortaTempero">Modelo Porta Tempero:</label>
          <select id="modeloPortaTempero" [(ngModel)]="form.portaTempero.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosPortaTempero; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaTempero.acabamento)">
          <label for="acabamentoPortaTempero">Acabamento Porta Tempero:</label>
          <select id="acabamentoPortaTempero" [(ngModel)]="form.portaTempero.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosPortaTempero; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaTempero.quantidade)">
          <label for="quantidadePortaTempero">Quantidade:</label>
          <select name="quantidadePortaTempero" [(ngModel)]="form.portaTempero.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadePortaTempero; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaTempero.fornecedor)">
          <label for="fornecedorPortaTempero">Quem irá fornecer:</label>
          <select id="fornecedorPortaTempero" [(ngModel)]="form.portaTempero.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresPortaTempero; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!-- Seção: Lixeira -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.lixeira.modelo)">
          <label for="modeloLixeira">Modelo Lixeira:</label>
          <select id="modeloLixeira" [(ngModel)]="form.lixeira.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosLixeira; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.lixeira.acabamento)">
          <label for="acabamentoLixeira">Acabamento Lixeira:</label>
          <select id="acabamentoLixeira" [(ngModel)]="form.lixeira.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosLixeira; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.lixeira.quantidade)">
          <label for="quantidadeLixeira">Quantidade:</label>
          <select name="quantidadeLixeira" [(ngModel)]="form.lixeira.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeLixeira; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.lixeira.fornecedor)">
          <label for="fornecedorLixeira">Quem irá fornecer:</label>
          <select id="fornecedorLixeira" [(ngModel)]="form.lixeira.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresLixeira; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>


  <!-- Seção: Tulha -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tulha.modelo)">
          <label for="modeloTulha">Modelo Tulha:</label>
          <select id="modeloTulha" [(ngModel)]="form.tulha.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosTulha; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tulha.acabamento)">
          <label for="acabamentoTulha">Acabamento Tulha:</label>
          <select id="acabamentoTulha" [(ngModel)]="form.tulha.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosTulha; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tulha.quantidade)">
          <label for="quantidadeTulha">Quantidade:</label>
          <select name="quantidadeTulha" [(ngModel)]="form.tulha.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeTulha; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tulha.fornecedor)">
          <label for="fornecedorTulha">Quem irá fornecer:</label>
          <select id="fornecedorTulha" [(ngModel)]="form.tulha.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresTulha; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!-- Seção: Divisor de Gaveta -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorGaveta.modelo)">
          <label for="modeloDivisorGaveta">Modelo Divisor de Gaveta:</label>
          <select id="modeloDivisorGaveta" [(ngModel)]="form.divisorGaveta.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosDivisorGaveta; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorGaveta.acabamento)">
          <label for="acabamentoDivisorGaveta">Acabamento Divisor de Gaveta:</label>
          <select id="acabamentoDivisorGaveta" [(ngModel)]="form.divisorGaveta.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosDivisorGaveta; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>


      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorGaveta.quantidade)">
          <label for="quantidadeDivisorGaveta">Quantidade:</label>
          <select name="quantidadeDivisorGaveta" [(ngModel)]="form.divisorGaveta.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeDivisorGaveta; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorGaveta.fornecedor)">
          <label for="fornecedorDivisorGaveta">Quem irá fornecer:</label>
          <select id="fornecedorDivisorGaveta" [(ngModel)]="form.divisorGaveta.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresDivisorGaveta; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!-- Seção: Divisor de Talher -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorTalher.modelo)">
          <label for="modeloDivisorTalher">Modelo Divisor de Talher:</label>
          <select id="modeloDivisorTalher" [(ngModel)]="form.divisorTalher.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosDivisorTalher; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorTalher.acabamento)">
          <label for="acabamentoDivisorTalher">Acabamento Divisor de Talher:</label>
          <select id="acabamentoDivisorTalher" [(ngModel)]="form.divisorTalher.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosDivisorTalher; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorTalher.quantidade)">
          <label for="quantidadeDivisorTalher">Quantidade:</label>
          <select name="quantidadeDivisorTalher" [(ngModel)]="form.divisorTalher.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeDivisorTalher; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorTalher.fornecedor)">
          <label for="fornecedorDivisorTalher">Quem irá fornecer:</label>
          <select id="fornecedorDivisorTalher" [(ngModel)]="form.divisorTalher.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresDivisorTalher; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>


  <!-- Seção: Tábua de Passar -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tabuaPassar.modelo)">
          <label for="modeloTabuaPassar">Modelo Tabua de Passar:</label>
          <select id="modeloTabuaPassar" [(ngModel)]="form.tabuaPassar.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosTabuaPassar; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tabuaPassar.acabamento)">
          <label for="acabamentoTabuaPassar">Acabamento Tabua de Passar:</label>
          <select id="acabamentoTabuaPassar" [(ngModel)]="form.tabuaPassar.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosTabuaPassar; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>


      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tabuaPassar.quantidade)">
          <label for="quantidadeTabuaPassar">Quantidade:</label>
          <select name="quantidadeTabuaPassar" [(ngModel)]="form.tabuaPassar.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeTabuaPassar; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.tabuaPassar.fornecedor)">
          <label for="fornecedorTabuaPassar">Quem irá fornecer:</label>
          <select id="fornecedorTabuaPassar" [(ngModel)]="form.tabuaPassar.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedorTabuaPassar; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Divisor Acrílico -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorAcrilico.modelo)">
          <label for="modeloDivisorAcrilico">Modelo Divisor Acrilico:</label>
          <select id="modeloDivisorAcrilico" [(ngModel)]="form.divisorAcrilico.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosDivisorAcrilico; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorAcrilico.acabamento)">
          <label for="acabamentoDivisorAcrilico">Acabamento Divisor Acrilico:</label>
          <select id="acabamentoDivisorAcrilico" [(ngModel)]="form.divisorAcrilico.acabamento" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosDivisorAcrilico; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorAcrilico.quantidade)">
          <label for="quantidadeDivisorAcrilico">Quantidade:</label>
          <select name="quantidadeDivisorAcrilico" [(ngModel)]="form.divisorAcrilico.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadeDivisorAcrilico; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.divisorAcrilico.fornecedor)">
          <label for="fornecedorDivisorAcrilico">Quem irá fornecer:</label>
          <select id="fornecedorDivisorAcrilico" [(ngModel)]="form.divisorAcrilico.fornecedor" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresDivisorAcrilico; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>



  <!-- Seção: Rodapé -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodape.modelo)">
          <label for="modeloRodape">Modelo do Rodapé:</label>
          <select id="modeloRodape" [(ngModel)]="form.rodape.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosRodape" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodape.recebe)">
          <label for="recebeRodape">Recebe Acabamento?</label>
          <select id="recebeRodape" [(ngModel)]="form.rodape.recebe" class="form-control">
            <option *ngFor="let item of listasOpcoes.recebeRodape" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodape.alturaRodape)">
          <label for="alturaRodape">Altura do Rodape:</label>
          <select name="alturaRodape" [(ngModel)]="form.rodape.alturaRodape" class="form-control">
           <option *ngFor="let item of listasOpcoes.alturaRodape; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodape.afastamentoRodape)">
          <label for="afastadoRodape">Afastamento do Rodapé:</label>
          <select name="afastadoRodape" [(ngModel)]="form.rodape.afastamentoRodape" class="form-control">
            <option *ngFor="let item of listasOpcoes.afastamentoRodape; trackBy: trackByFn" [value]="item" >{{item}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Roda Teto -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodaTeto.modelo)">
          <label for="modeloRodaTeto">Modelo do Roda Teto:</label>
          <select id="modeloRodaTeto" [(ngModel)]="form.rodaTeto.modelo" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosRodaTeto" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodaTeto.alturaRodateto)">
          <label for="alturaRodaTeto">Altura:</label>
          <select id="alturaRodaTeto" [(ngModel)]="form.rodaTeto.alturaRodateto" class="form-control">
            <option *ngFor="let item of listasOpcoes.alturaRodateto" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.rodaTeto.afastamentoRodateto)">
          <label for="afastadoRodaTeto">Afastamento Frontal:</label>
          <select id="afastadoRodaTeto" [(ngModel)]="form.rodaTeto.afastamentoRodateto" class="form-control">
            <option *ngFor="let item of listasOpcoes.afastamentoFrontalRodateto" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>

  <!-- Seção: Porta Deslizante -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaDeslizante.nomeSistema)">
          <label for="nomeSistemaPortaDeslizante">Porta Deslizante Sistema:</label>
          <select id="nomeSistemaPortaDeslizante" [(ngModel)]="form.portaDeslizante.nomeSistema" class="form-control">
            <option *ngFor="let item of listasOpcoes.nomesSistemasPortaDeslizante; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaDeslizante.corpoPorta)">
          <label for="corpoPortaDeslizante">Corpo da Porta:</label>
          <select id="corpoPortaDeslizante" [(ngModel)]="form.portaDeslizante.corpoPorta" class="form-control">
            <option *ngFor="let item of listasOpcoes.corposPortaDeslizante; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaDeslizante.acabamentoCorpo)">
          <label for="acabamentoPortaDeslizante">Acabamento do Corpo:</label>
          <select id="acabamentoPortaDeslizante" [(ngModel)]="form.portaDeslizante.acabamentoCorpo" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosPortaDeslizante; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaDeslizante.quantidade)">
          <label for="quantidadePortaDeslizante">Quantidade:</label>
          <select name="quantidadePortaDeslizante" [(ngModel)]="form.portaDeslizante.quantidade" class="form-control">
           <option *ngFor="let item of listasOpcoes.quantidadePortaDeslizante; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaDeslizante.fechadura)">
          <label for="fechaduraPortaDeslizante">Fechadura:</label>
          <select id="fechaduraPortaDeslizante" [(ngModel)]="form.portaDeslizante.fechadura" class="form-control">
            <option *ngFor="let item of listasOpcoes.fechadurasPortaDeslizante; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Porta Passagem -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPassagem.nomeSistema)">
          <label for="nomeSistemaPortaPassagem">Porta Passagem Sistema:</label>
          <select id="nomeSistemaPortaPassagem" [(ngModel)]="form.portaPassagem.nomeSistema" class="form-control">
            <option *ngFor="let item of listasOpcoes.sistemasPortaPassagem; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPassagem.corpoPorta)">
          <label for="corpoPortaPassagem">Corpo da Porta:</label>
          <select id="corpoPortaPassagem" [(ngModel)]="form.portaPassagem.corpoPorta" class="form-control">
            <option *ngFor="let item of listasOpcoes.corposPortaPassagem; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPassagem.acabamentoCorpo)">
          <label for="acabamentoPortaPassagem">Acabamento do Corpo:</label>
          <select id="acabamentoPortaPassagem" [(ngModel)]="form.portaPassagem.acabamentoCorpo" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosPortaPassagem; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPassagem.fechadura)">
          <label for="fechaduraPortaPassagem">Fechadura:</label>
          <select id="fechaduraPortaPassagem" [(ngModel)]="form.portaPassagem.fechadura" class="form-control">
            <option *ngFor="let item of listasOpcoes.fechadurasPortaPassagem; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPassagem.quantidadePortaPassagem)">
          <label for="quantidadePortaPassagem">Quantidade:</label>
          <select id="quantidadePortaPassagem" [(ngModel)]="form.portaPassagem.quantidadePortaPassagem" class="form-control">
            <option *ngFor="let item of listasOpcoes.quantidadePortaPassagem; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!-- Seção: Porta Perfil -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPerfil.modeloPerfil)">
          <label for="modeloPerfil">Porta Perfil Modelo:</label>
          <select id="modeloPerfil" [(ngModel)]="form.portaPerfil.modeloPerfil" class="form-control">
            <option *ngFor="let item of listasOpcoes.modeloPerfil; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPerfil.modeloPuxador)">
          <label for="modeloPuxadorPerfil">Modelo do Puxador:</label>
          <select id="modeloPuxadorPerfil" [(ngModel)]="form.portaPerfil.modeloPuxador" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosPuxadorPerfil; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPerfil.corPerfil)">
          <label for="corPerfil">Cor do Perfil:</label>
          <select id="corPerfil" [(ngModel)]="form.portaPerfil.corPerfil" class="form-control">
            <option *ngFor="let item of listasOpcoes.coresPerfil; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPerfil.corpoPorta)">
          <label for="corpoPorta">Corpo da Porta:</label>
          <select id="corpoPorta" [(ngModel)]="form.portaPerfil.corpoPorta" class="form-control">
            <option *ngFor="let item of listasOpcoes.corposPorta; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.portaPerfil.acabamentoCorpo)">
          <label for="acabamentoCorpo">Acabamento do Corpo:</label>
          <select id="acabamentoCorpo" [(ngModel)]="form.portaPerfil.acabamentoCorpo" class="form-control">
            <option *ngFor="let item of listasOpcoes.acabamentosCorpo; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <!-- Seção: Pedra -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.pedra.existentePedra)">
          <label for="existentePedra">Pedra Existente:</label>
          <select id="existentePedra" [(ngModel)]="form.pedra.existentePedra" class="form-control">
            <option *ngFor="let item of listasOpcoes.existentePedra, trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.pedra.espessura)">
          <label for="espessuraPedra">Espessura da Pedra:</label>
          <select name="espessuraPedra" [(ngModel)]="form.pedra.espessura" class="form-control">
           <option *ngFor="let item of listasOpcoes.espessuraPedra; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.pedra.alturaFinalPedra)">
          <label for="alturaFinalPedra">Altura Final:</label>
          <select name="alturaFinalPedra" [(ngModel)]="form.pedra.alturaFinalPedra" class="form-control">
            <option *ngFor="let item of listasOpcoes.alturafinalPedra; trackBy: trackByFn" [value]="item">{{ item }}</option>
           </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.pedra.fornecedoresPedra)">
          <label for="fornecedoresPedra">Responsável:</label>
          <select name="fornecedoresPedra" [(ngModel)]="form.pedra.fornecedoresPedra" class="form-control">
            <option *ngFor="let item of listasOpcoes.fornecedoresPedra; trackBy: trackByFn" [value]="item">{{ item }}</option>
           </select>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Seção: Box -->
  <div>
    <div class="form-title">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.box.modelos)">
          <label for="modelosBox">Box Modelo:</label>
          <select id="modelosBox" [(ngModel)]="form.box.modelos" class="form-control">
            <option *ngFor="let item of listasOpcoes.modelosBox; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
      </div>
    </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.box.margemBox)">
          <label for="margemBox">Box Margem:</label>
          <select id="margemBox" [(ngModel)]="form.box.margemBox" class="form-control">
            <option *ngFor="let item of listasOpcoes.margemBox; trackBy: trackByFn" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group" [class.hide-on-print]="isFieldEmpty(form.box.alturaFinal)">
          <label for="alturaFinalBox">Altura Final:</label>
          <input type="text" id="alturaFinalBox" [(ngModel)]="form.box.alturaFinal" class="form-control">
        </div>
      </div>
    </div>
  </div>
  </div>

    <!-- Seção: Observações -->
    <h3 class="title">Observações</h3>
    <div class="form-group col-full-width">
      <textarea id="observacoes" [(ngModel)]="form.observacoes" class="form-control" rows="5" placeholder="Digite suas observações finais aqui..."></textarea>
    </div>

  <!-- Seção: Eletrodoméstico -->

  <div class="container-fluid">
    <div class="form-group col-eletro">
      <span class="title-eletro">Eletrodoméstico</span>
      <div class="d-flex">
        <input type="text" id="codigoEletro" [(ngModel)]="eletroCodigo" class="input-eletro" placeholder="Digite o Código do Eletro" />
        <button (click)="buscarEletro()" class="btn btn-primary ml-2">Buscar Eletro</button>
      </div>
    </div>

    <!-- Informações do Eletrodoméstico -->
    <div *ngIf="eletroInfo" class="mt-4">
      <h4>Informações do Eletrodoméstico</h4>
      <p><strong>Altura:</strong> {{ eletroInfo.altura }} m</p>
      <p><strong>Largura:</strong> {{ eletroInfo.largura }} m</p>
      <p><strong>Profundidade:</strong> {{ eletroInfo.profundidade }} m</p>
      <p><strong>Link Manual:</strong> <a [href]="eletroInfo.linkManual" target="_blank">Acessar Manual</a></p>
    </div>

    <!-- Carregando -->
    <div *ngIf="loading" class="mt-4">
      <p>Carregando...</p>
    </div>

     <!-- Botões: Salvar e Imprimir -->
     <div class="d-flex justify-content-between mt-3">
      <button (click)="saveForm()" class="btn btn-success">Salvar</button>
      <button (click)="printPage()" class="btn btn-secondary">Imprimir</button>
    </div>
  </div>